/* Demo */
@font-face {
    font-family: FrogFont;
    src: url(GoFrog.ttf);
}

/* Color Variables */
$color-discord: #7289da;
$color-twitch: #6441a5;
$color-twitter: #1DA1F2;
$color-tiktok: #ff0050;
$color-instagram: #405DE6;
$color-youtube: #FF0000;

$color-light-green: #AFF8A0;
$color-green: #2c923d;
$color-light-coral: #F5A8A4;
$color-coral: #DE5A4B;


html,
body {
    padding: 10px;
    width: auto
}

body {
    background-image: url(assets/rm422-047.jpg);
    font-family: FrogFont;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
    display: inline;
    color: white;
    border-radius: 35px;
    box-shadow: 0px 0px 3px;
    border: 8px solid $color-coral;
    background-color: $color-light-coral;
    padding: 5px 25px;
}

.button {
    cursor: pointer;
    background-color: $color-light-coral;
    border: 8px solid $color-coral;
    transition: all 0.3s ease;
    color: white;
    border-radius: 50px;
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 0.9rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    position: relative;



    &:hover {
        border: 8px solid $color-green;
        background-color: $color-light-green;
        color: $color-green;
    }
}

#header {
    margin-top: 50px;
}

h2 {
    font-weight: lighter;
    color: $color-green;
    padding: 10px 25px;
    margin: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    margin-top: 100px;
}

.center {
    height: 95%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: block;
}

.instruction {
    text-align: left;
    font-size: 2rem;
}

/* Social Icon Mixin */
@mixin social-icon($color) {
    color: #fff;

    .cls-1 {
        fill: $color;
    }

    .tooltip {
        background: $color;
        color: currentColor;

        &:after {
            border-top-color: $color;
        }
    }
}


code{
    color: $color-coral;
}

/* Tooltips */
.tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-family: FrogFont;
    font-size: 1.75rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;

    &:after {
        display: block;
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        transform: translate(-50%, 100%);
    }
}
 
/* App */
/* Lazy Load Styles */
.card-image {
    display: block;
    min-height: 20rem;
    /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px);
    /* blur the lowres image */
}

.card-image>img {
    display: block;
    width: 100%;
    opacity: 0;
    /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none;
    /* remove the blur on fullres image */
    transition: filter 1s;
}

/* Card Styles */
.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;


}

a {
    color: $color-green;
    text-decoration: none;

    &:hover {
        text-decoration: none;

        color: $color-light-green;
    }
}

.card {
    color: white;
    border: 8px solid $color-coral;
    background-color: $color-light-coral;
    border-radius: 50px;
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 0.9rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;

    position: relative;

    a {
        text-decoration: none;
        color: white;
    }

    h3 {
        font-size: 2.5rem;
        margin-top: 0.5rem;
    }

    p {
        font-size: 1.3rem;
    }

    img {
        height: 350px;
    }
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
    display: block;
    padding: 1em;
    text-decoration: none;
}


.leaf {
    transition: all 0.15s ease;
    position: fixed;
    color: white;
}

.mapEmbed {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: 8px solid $color-coral;
    width: 80%;
    max-width: 880px;
    min-height: 500px;
}

#issueText, #issueCheckboxText {
    color: $color-coral;
    padding: 0;
    font-size: 2rem;
}

.form {
    width: 50%;
    margin: auto;
}

input[type=text],
input[type=email] {
    border-radius: 50px;
    border: 8px solid $color-coral;
    padding: 10px;
    width: 400px;
    font-size: 35px;
    margin: 10px;

    &:focus {
        box-shadow: 0 0 3rem -1rem $color-green;
    }
}

#report {
    h3 {
        color: white;
    }
}

.link {
    color: $color-green;
    cursor: pointer;
}

#rules {

    li {
        font-size: 1.5rem;
        text-decoration: none;
        list-style-type: none;

        span {
            font-size: 1.75rem;
            ;
        }
    }
}

textarea {
    border-radius: 30px;
    border: 8px solid $color-coral;
    padding: 10px;
    height: 200px;
    width: 550px;
    font-size: 35px;

    &:focus {
        box-shadow: 0 0 3rem -1rem $color-green;
    }
}

.title {
    font-size: 50px;
}

.menu {
    margin-bottom: 40px;
    padding: 0;
    -webkit-padding-start: 0;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    width: 40px;
    height: 40px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid $color-coral;
    background-color: $color-coral;
    border-radius: 50%;
    color: $color-coral;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: $color-green;
}


.radio-item {
    color: $color-coral;

    label {
        font-size: 40px;
    }
}

.portfolioImage {
    max-width: 350px;
    max-height: 350px;
    display: inline-block;
    margin: 20px;
}

#portfolio {

    color: white;
    border: 8px solid $color-coral;
    background-color: $color-light-coral;
    border-radius: 50px;
    display: block;
    width: 50%;
    text-decoration: none;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    position: relative;

    p {
        margin-top: 10px;
        font-size: 70px;
    }
}

#photos {
    width: 100%;
    height: 400px;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden; // hide horizontal
    background-color: $color-light-coral;

    img {
        display: inline-block;
    }
}

#costs {
    margin-bottom: 20px;
}

#tos {
    border-radius: 50px;
    border: 8px solid $color-coral;
    background-color: $color-light-coral;
    display: inline-block;
    height: 400px;
    width: 50%;
    overflow: scroll;
    overflow-x: hidden; // hide horizontal
    padding: 20px;
    color: white;

    h2 {
        color: $color-coral;
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    li {
        font-size: 1.5rem;
    }
}

#tosCheck, #reportCheck {
    font-size: 2.5rem;
    text-align: center;
}

#reportCheck{
    display: block;
}

button {
    font-size: 2.5rem;
    margin-top: 0.5rem;
}

.radioButtons {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px;
}

input[type="checkbox"] {
    width: 40px;
    height: 40px;
    background-color: $color-light-green;
    border-color: $color-green;
    margin-top: 5px;
}

#turorials {
    max-width: 25%;
    display: inline-block;

    ul {
        list-style-type: none;
    }


}

.instructions {
    max-width: 75%;
    display: inline-block;
    img{ 
        max-width: 95%;
    }
}

.question {

    color: white;
    border: 8px solid $color-coral;
    background-color: $color-light-coral;
    border-radius: 50px;
    display: inline-block;
    width: 90%;
    max-width: 10rem;
    margin: 0.5rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    padding: none;
    position: relative;
    font-size: 1.5rem;
}

/* Social Buttons */
/*Large screens */
@media (min-width: 590px) {
    .social-icons {
        display: flex;
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        font-family: FrogFont;
        font-size: 2.5rem;
        text-decoration: none;
        transition: all 0.15s ease;

        &:hover {
            color: #fff;
            text-decoration: none;

            .tooltip {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%, -150%);
            }
        }

        &:active {
            svg {
                -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .3));
                filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .3));
            }
        }

        &--discord {
            @include social-icon($color-green);
        }

        &--twitter {
            @include social-icon($color-green);
        }

        &--twitch {
            @include social-icon($color-green);
        }

        &--tiktok {
            @include social-icon($color-green);
        }

        &--instagram {
            @include social-icon($color-green);
        }

        &--youtube {
            @include social-icon($color-green);
        }

        i {
            position: relative;
            top: 5px;
            z-index: 1;
        }
    }

    svg {
        position: absolute;
    }
}

@media (max-width: 589.98px) {
    .social-icons {
        display: flex;
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        font-family: FrogFont;
        font-size: 1.25rem;
        text-decoration: none;
        transition: all 0.15s ease;

        &:hover {
            color: #fff;
            text-decoration: none;

            .tooltip {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%, -150%);
            }
        }

        &:active {
            svg {
                -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .3));
                filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .3));
            }
        }

        &--discord {
            @include social-icon($color-green);
        }

        &--twitter {
            @include social-icon($color-green);
        }

        &--twitch {
            @include social-icon($color-green);
        }

        &--tiktok {
            @include social-icon($color-green);
        }

        &--instagram {
            @include social-icon($color-green);
        }

        &--youtube {
            @include social-icon($color-green);
        }

        i {
            position: relative;
            top: 3px;
            z-index: 1;
        }
    }

    svg {
        position: absolute;
        max-height: 40px;
    }
}

/* Minecraft Join Instructions */
/* Large Screen */
@media (min-width: 1200px) {
    .large-text {
        font-size: 3rem;
    }
    #java, #bedrock {

        max-height: 550px;
        max-width: 75%;
        overflow: scroll;
        overflow-x: hidden; // hide horizontal
        margin: 10px auto;
        padding: 15px;

        h1 {

            font-size: 2.5rem;
        }

        img {
            width: 600px;
        }

        .num {
            font-size: 3rem;
        }
    }

    .bold {
        font-weight: bold;
    }

    .bullet {
        font-size: 2rem;
        color: $color-green;

        a {
            text-decoration: none;
            color: $color-coral;
        }
    }
}


/* Large Screen */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .large-text {
        font-size: 2.5rem;
    }
    #java, #bedrock {
        max-height: 500px;
        max-width: 65%;
        overflow: scroll;
        overflow-x: hidden; // hide horizontal
        margin: 5px auto;
        padding: 15px;

        h1 {

            font-size: 2rem;
        }

        img {
            width: 550px;
        }

        .num {
            font-size: 2.5rem;
        }
    }

    .bold {
        font-weight: bold;
    }

    .bullet {
        font-size: 1.75rem;
        color: $color-green;

        a {
            text-decoration: none;
            color: $color-coral;
        }
    }
}

/* medium screen */
@media (min-width: 768px) and (max-width: 991.98px) {
    .large-text {
        font-size: 2.5rem;
    }
    #java, #bedrock {
        max-height: 400px;
        max-width: 95%;
        overflow: scroll;
        overflow-x: hidden; // hide horizontal
        margin: 5px auto;
        padding: 15px;

        h1 {

            font-size: 2rem;
        }

        img {
            width: 400px;
        }

        .num {
            font-size: 2.5rem;
        }
    }

    .bold {
        font-weight: bold;
    }

    .bullet {
        font-size: 1.75rem;
        color: $color-green;

        a {
            text-decoration: none;
            color: $color-coral;
        }
    }
}

/* small screen */
@media (max-width: 767.98px) {
    .large-text {
        font-size: 2rem;
    }
    #java, #bedrock {
        max-height: 750px;
        max-width: 99%;
        overflow: scroll;
        overflow-x: hidden; // hide horizontal
        margin: 5px 0px;
        padding-top: 15px;

        h1 {
            font-size: 1rem;
        }

        img {
            max-width: 400px;
        }

        .num {
            font-size: 1.25rem;
        }
    }

    .bold {
        font-weight: bold;
    }

    .bullet {
        font-size: 1.35rem;
        color: $color-green;

        a {
            text-decoration: none;
            color: $color-coral;
        }
    }

    .form {
        width: 95%;
        margin: auto;
    }

    #report {
        margin: 0;

        .title {
            max-width: 80%;
            margin: auto;
        }
    }

    textarea {
        border-radius: 30px;
        border: 8px solid $color-coral;
        padding: 10px;
        height: 200px;
        max-width: 90%;
        font-size: 35px;

        &:focus {
            box-shadow: 0 0 3rem -1rem $color-green;
        }
    }

    input[type=text],
    input[type=email] {
        border-radius: 50px;
        border: 8px solid $color-coral;
        padding: 10px;
        max-width: 85%;
        font-size: 35px;
        margin: 10px;

        &:focus {
            box-shadow: 0 0 3rem -1rem $color-green;
        }
    }

}

@media (max-width: 992px) {
    #portfolio {
        width: 90%;
    }

    #tos {
        width: 90%;
    }
}
