/* Demo */
@font-face {
  font-family: FrogFont;
  src: url(GoFrog.ttf);
}
/* Color Variables */
html,
body {
  padding: 10px;
  width: auto;
}

body {
  background-image: url(assets/rm422-047.jpg);
  font-family: FrogFont;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 72px;
  display: inline;
  color: white;
  border-radius: 35px;
  box-shadow: 0px 0px 3px;
  border: 8px solid #DE5A4B;
  background-color: #F5A8A4;
  padding: 5px 25px;
}

.button {
  cursor: pointer;
  background-color: #F5A8A4;
  border: 8px solid #DE5A4B;
  transition: all 0.3s ease;
  color: white;
  border-radius: 50px;
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 0.9rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  position: relative;
}
.button:hover {
  border: 8px solid #2c923d;
  background-color: #AFF8A0;
  color: #2c923d;
}

#header {
  margin-top: 50px;
}

h2 {
  font-weight: lighter;
  color: #2c923d;
  padding: 10px 25px;
  margin: 10px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  margin-top: 100px;
}

.center {
  height: 95%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: block;
}

/* Social Icon Mixin */
/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-family: FrogFont;
  font-size: 1.75rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

/* App */
/* Lazy Load Styles */
.card-image {
  display: block;
  min-height: 20rem;
  /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px);
  /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0;
  /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none;
  /* remove the blur on fullres image */
  transition: filter 1s;
}

/* Card Styles */
.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

a {
  color: #2c923d;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #AFF8A0;
}

.card {
  color: white;
  border: 8px solid #DE5A4B;
  background-color: #F5A8A4;
  border-radius: 50px;
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 0.9rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  position: relative;
}
.card a {
  text-decoration: none;
  color: white;
}
.card h3 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
.card p {
  font-size: 1.3rem;
}
.card img {
  height: 350px;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.leaf {
  transition: all 0.15s ease;
  position: fixed;
  color: white;
}

.mapEmbed {
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: 8px solid #DE5A4B;
  width: 80%;
  max-width: 880px;
  min-height: 500px;
}

#issueText {
  color: #DE5A4B;
  padding: 0;
}

.form {
  width: 50%;
  margin: auto;
}

input[type=text],
input[type=email] {
  border-radius: 50px;
  border: 8px solid #DE5A4B;
  padding: 10px;
  width: 400px;
  font-size: 35px;
  margin: 10px;
}
input[type=text]:focus,
input[type=email]:focus {
  box-shadow: 0 0 3rem -1rem #2c923d;
}

#report h3 {
  color: white;
}

.link {
  color: #2c923d;
  cursor: pointer;
}

#rules li {
  font-size: 1.5rem;
  text-decoration: none;
  list-style-type: none;
}
#rules li span {
  font-size: 1.75rem;
}

textarea {
  border-radius: 30px;
  border: 8px solid #DE5A4B;
  padding: 10px;
  height: 200px;
  width: 500px;
  font-size: 35px;
}
textarea:focus {
  box-shadow: 0 0 3rem -1rem #2c923d;
}

.title {
  font-size: 50px;
}

.menu {
  margin-bottom: 40px;
  padding: 0;
  -webkit-padding-start: 0;
}

input[type=radio] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  width: 40px;
  height: 40px;
  padding: 6px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #DE5A4B;
  background-color: #DE5A4B;
  border-radius: 50%;
  color: #DE5A4B;
}

/* appearance for checked radiobutton */
input[type=radio]:checked {
  background-color: #2c923d;
}

.radio-item {
  color: #DE5A4B;
}
.radio-item label {
  font-size: 40px;
}

.portfolioImage {
  max-width: 350px;
  max-height: 350px;
  display: inline-block;
  margin: 20px;
}

#portfolio {
  color: white;
  border: 8px solid #DE5A4B;
  background-color: #F5A8A4;
  border-radius: 50px;
  display: block;
  width: 50%;
  text-decoration: none;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  position: relative;
}
#portfolio p {
  margin-top: 10px;
  font-size: 70px;
}

#photos {
  width: 100%;
  height: 400px;
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  background-color: #F5A8A4;
}
#photos img {
  display: inline-block;
}

#costs {
  margin-bottom: 20px;
}

#tos {
  border-radius: 50px;
  border: 8px solid #DE5A4B;
  background-color: #F5A8A4;
  display: inline-block;
  height: 400px;
  width: 50%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
  color: white;
}
#tos h2 {
  color: #DE5A4B;
  font-size: 3rem;
}
#tos p {
  font-size: 2rem;
}
#tos li {
  font-size: 1.5rem;
}

#tosCheck {
  font-weight: 2rem;
}

button {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.radioButtons {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 10px;
}

input[type=checkbox] {
  width: 40px;
  height: 40px;
  background-color: #AFF8A0;
  border-color: #2c923d;
  margin-top: 5px;
}

#tosCheck {
  text-align: center;
  font-size: 2.5rem;
}

#turorials {
  max-width: 25%;
}
#turorials ul {
  list-style-type: none;
}

.question {
  color: white;
  border: 8px solid #DE5A4B;
  background-color: #F5A8A4;
  border-radius: 50px;
  display: inline-block;
  width: 90%;
  max-width: 10rem;
  margin: 0.5rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  padding: none;
  position: relative;
  font-size: 1.5rem;
}

/* Social Buttons */
/*Large screens */
@media (min-width: 590px) {
  .social-icons {
    display: flex;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: FrogFont;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
  }
  .social-icon:hover {
    color: #fff;
    text-decoration: none;
  }
  .social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
  }
  .social-icon:active svg {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  }
  .social-icon--discord {
    color: #fff;
  }
  .social-icon--discord .cls-1 {
    fill: #2c923d;
  }
  .social-icon--discord .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--discord .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--twitter {
    color: #fff;
  }
  .social-icon--twitter .cls-1 {
    fill: #2c923d;
  }
  .social-icon--twitter .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--twitter .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--twitch {
    color: #fff;
  }
  .social-icon--twitch .cls-1 {
    fill: #2c923d;
  }
  .social-icon--twitch .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--twitch .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--tiktok {
    color: #fff;
  }
  .social-icon--tiktok .cls-1 {
    fill: #2c923d;
  }
  .social-icon--tiktok .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--tiktok .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--instagram {
    color: #fff;
  }
  .social-icon--instagram .cls-1 {
    fill: #2c923d;
  }
  .social-icon--instagram .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--instagram .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--youtube {
    color: #fff;
  }
  .social-icon--youtube .cls-1 {
    fill: #2c923d;
  }
  .social-icon--youtube .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--youtube .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon i {
    position: relative;
    top: 5px;
    z-index: 1;
  }
  svg {
    position: absolute;
  }
}
@media (max-width: 589.98px) {
  .social-icons {
    display: flex;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: FrogFont;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all 0.15s ease;
  }
  .social-icon:hover {
    color: #fff;
    text-decoration: none;
  }
  .social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
  }
  .social-icon:active svg {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  }
  .social-icon--discord {
    color: #fff;
  }
  .social-icon--discord .cls-1 {
    fill: #2c923d;
  }
  .social-icon--discord .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--discord .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--twitter {
    color: #fff;
  }
  .social-icon--twitter .cls-1 {
    fill: #2c923d;
  }
  .social-icon--twitter .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--twitter .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--twitch {
    color: #fff;
  }
  .social-icon--twitch .cls-1 {
    fill: #2c923d;
  }
  .social-icon--twitch .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--twitch .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--tiktok {
    color: #fff;
  }
  .social-icon--tiktok .cls-1 {
    fill: #2c923d;
  }
  .social-icon--tiktok .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--tiktok .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--instagram {
    color: #fff;
  }
  .social-icon--instagram .cls-1 {
    fill: #2c923d;
  }
  .social-icon--instagram .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--instagram .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon--youtube {
    color: #fff;
  }
  .social-icon--youtube .cls-1 {
    fill: #2c923d;
  }
  .social-icon--youtube .tooltip {
    background: #2c923d;
    color: currentColor;
  }
  .social-icon--youtube .tooltip:after {
    border-top-color: #2c923d;
  }
  .social-icon i {
    position: relative;
    top: 3px;
    z-index: 1;
  }
  svg {
    position: absolute;
    max-height: 40px;
  }
}
/* Minecraft Join Instructions */
/* Large Screen */
@media (min-width: 1200px) {
  #join {
    max-height: 550px;
    max-width: 75%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 10px auto;
    padding: 15px;
  }
  #join h1 {
    font-size: 3rem;
  }
  #join img {
    width: 600px;
  }
  #join .num {
    font-size: 3rem;
  }
  .bold {
    font-weight: bold;
  }
  .bullet {
    font-size: 2rem;
    color: #2c923d;
  }
  .bullet a {
    text-decoration: none;
    color: #DE5A4B;
  }
}
/* Large Screen */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #join {
    max-height: 500px;
    max-width: 65%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 5px auto;
    padding: 15px;
  }
  #join h1 {
    font-size: 2.5rem;
  }
  #join img {
    width: 550px;
  }
  #join .num {
    font-size: 2.5rem;
  }
  .bold {
    font-weight: bold;
  }
  .bullet {
    font-size: 1.75rem;
    color: #2c923d;
  }
  .bullet a {
    text-decoration: none;
    color: #DE5A4B;
  }
}
/* medium screen */
@media (min-width: 768px) and (max-width: 991.98px) {
  #join {
    max-height: 400px;
    max-width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 5px auto;
    padding: 15px;
  }
  #join h1 {
    font-size: 2.5rem;
  }
  #join img {
    width: 400px;
  }
  #join .num {
    font-size: 2.5rem;
  }
  .bold {
    font-weight: bold;
  }
  .bullet {
    font-size: 1.75rem;
    color: #2c923d;
  }
  .bullet a {
    text-decoration: none;
    color: #DE5A4B;
  }
}
/* small screen */
@media (max-width: 767.98px) {
  #join {
    max-height: 750px;
    max-width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 5px auto;
    padding-top: 15px;
  }
  #join h1 {
    font-size: 2rem;
  }
  #join img {
    max-width: 400px;
  }
  #join .num {
    font-size: 2.5rem;
  }
  .bold {
    font-weight: bold;
  }
  .bullet {
    font-size: 1.75rem;
    color: #2c923d;
  }
  .bullet a {
    text-decoration: none;
    color: #DE5A4B;
  }
  .form {
    width: 95%;
    margin: auto;
  }
  #report {
    margin: 0;
  }
  #report .title {
    max-width: 80%;
    margin: auto;
  }
  textarea {
    border-radius: 30px;
    border: 8px solid #DE5A4B;
    padding: 10px;
    height: 200px;
    max-width: 90%;
    font-size: 35px;
  }
  textarea:focus {
    box-shadow: 0 0 3rem -1rem #2c923d;
  }
  input[type=text],
input[type=email] {
    border-radius: 50px;
    border: 8px solid #DE5A4B;
    padding: 10px;
    max-width: 85%;
    font-size: 35px;
    margin: 10px;
  }
  input[type=text]:focus,
input[type=email]:focus {
    box-shadow: 0 0 3rem -1rem #2c923d;
  }
}
@media (max-width: 992px) {
  #portfolio {
    width: 90%;
  }
  #tos {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
