/* Demo */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

footer {
  position: fixed;
  bottom: 20px;
}

/* Color Variables */
/* Social Icon Mixin */
svg {
  position: absolute;
  z-layer: -1;
}

/* Social Icons */
.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  border-radius: 150px;
}
.social-icon:active svg {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.social-icon--discord {
  color: #fff;
}
.social-icon--discord .cls-1 {
  fill: #7289da;
}
.social-icon--discord .tooltip {
  background: #7289da;
  color: currentColor;
}
.social-icon--discord .tooltip:after {
  border-top-color: #7289da;
}
.social-icon--twitter {
  color: #fff;
}
.social-icon--twitter .cls-1 {
  fill: #1DA1F2;
}
.social-icon--twitter .tooltip {
  background: #1DA1F2;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #1DA1F2;
}
.social-icon--twitch {
  color: #fff;
}
.social-icon--twitch .cls-1 {
  fill: #6441a5;
}
.social-icon--twitch .tooltip {
  background: #6441a5;
  color: currentColor;
}
.social-icon--twitch .tooltip:after {
  border-top-color: #6441a5;
}
.social-icon--tiktok {
  color: #fff;
}
.social-icon--tiktok .cls-1 {
  fill: #ff0050;
}
.social-icon--tiktok .tooltip {
  background: #ff0050;
  color: currentColor;
}
.social-icon--tiktok .tooltip:after {
  border-top-color: #ff0050;
}
.social-icon--instagram {
  color: #fff;
}
.social-icon--instagram .cls-1 {
  fill: #405DE6;
}
.social-icon--instagram .tooltip {
  background: #405DE6;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #405DE6;
}
.social-icon--youtube {
  color: #fff;
}
.social-icon--youtube .cls-1 {
  fill: #FF0000;
}
.social-icon--youtube .tooltip {
  background: #FF0000;
  color: currentColor;
}
.social-icon--youtube .tooltip:after {
  border-top-color: #FF0000;
}
.social-icon i {
  position: relative;
  top: 1px;
  z-index: 1;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

/*# sourceMappingURL=style.css.map */
